*~
img/*.png
graph/*.dot
prolog/dataset.pl

# Latex files
documentation/*.pdf
documentation/*.log
documentation/*.out
sperimentazioni/documentation/*.pdf
sperimentazioni/documentation/*.out
sperimentazioni/documentation/*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.ilg
*.toc
*.ind
*.blg
*.pyg
*.synctex.gz

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.idea/*
*.iml
target
target/*

sperimentazioni/ia-sperimentazioni/.idea
sperimentazioni/ia-sperimentazioni/.idea/*
sperimentazioni/ia-sperimentazioni/.out
sperimentazioni/ia-sperimentazioni/.out/*


sperimentazioni/aleph/elsevier
sperimentazioni/aleph/mlj
sperimentazioni/aleph/jmlr
sperimentazioni/aleph/svln
sperimentazioni/aleph/result

sperimentazioni/progol/elsevier
sperimentazioni/progol/mlj
sperimentazioni/progol/jmlr
sperimentazioni/progol/svln
sperimentazioni/progol/result

sperimentazioni/foil/elsevier
sperimentazioni/foil/mlj
sperimentazioni/foil/jmlr
sperimentazioni/foil/svln
sperimentazioni/foil/result
