*~
img/*.png
graph/*.dot
prolog/dataset.pl

# Latex files
documentation/*.pdf
sperimentazioni/documentation/*.pdf
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.ilg
*.toc
*.ind
*.out
*.blg
*.synctex.gz

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.idea/*
*.iml
target
target/*


sperimentazioni/ia-sperimentazioni/.idea
sperimentazioni/ia-sperimentazioni/.idea/*
sperimentazioni/ia-sperimentazioni/.out
sperimentazioni/ia-sperimentazioni/.out/*

